<ion-view class="fabFeed" cache-view="false">
    <ion-header-bar align-title="center" class="bar-dark" title="FOLLOWERS">
        <a class="button icon ion-chevron-left button-clear" ng-click="goBack()"></a>
        <h1 class="title">FOLLOWERS</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar list_item " ng-repeat="followerDetail in followerUserDetail">
                <img ng-src="{{followerDetail.photoUrl ||'img/person.jpg'}}">
                <span ng-if="followerDetail.postNum>0" ng-click="viewPosts(followerDetail.userId)">View Posts</span>
                <h2>{{followerDetail.name}}</h2>
                <p>Post:{{followerDetail.postNum || 0}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>