<ion-view class="fabFeed" cache-view="false">
	<ion-header-bar align-title="center" class="bar-dark" title="NEAR ME">
		<a class="button icon ion-ios-home button-clear" ng-click="goBack()"></a>
		<h1 class="title">NEAR ME</h1>
	</ion-header-bar>
	<ion-floating-button click="createNew()" has-footer="false" button-color="#0DD1D1"
						 icon="ion-camera" icon-color="#fff"></ion-floating-button>
	<ion-content class="has-header">
		<div class="row tab-row">
			<a href="#/user/{{uid}}" class="col text-center center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/profile.png"/>
			</a>
			<a href="#/feed" class="col text-center center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/fabbook_fill.png"/>
			</a>
			<a href="#/nearme/{{cityId}}" class="col text-center active-tab center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/Nearby.png"/>
			</a>
		</div>
		<ion-refresher pulling-text="Loading New Feed" on-refresh="doRefresh()"></ion-refresher>
		<div class="feeds" ng-repeat="feed in blogArr | orderBy:'-created_time'">
			<div class="upper-row">
				<div class="row">
					<div class="col col-20">
						<img class="user_icon img-circle" id="{{feed.blog_id}}"
							 ng-src="{{feed.profilePic || 'img/person.jpg'}}" width="40" height="40"/>
					</div>
					<div class="col col-55">
						<p class="feed-name"><a href="#/user/{{feed.user.user_id}}">
							{{feed.user.user_name}}</a> | {{feed.created_time | date:'d MMM yy'}}</p>
						<p class="feed-city"><i class="ion ion-location"></i> {{feed.city_name}}</p>
					</div>
					<div class="col col-25 follow-wrap">
						<span class="follow-btn {{feed.user.user_id}}-follow"
							  ng-click="followUser(feed.user.user_id)">Follow</span>
						<span class="unfollow-btn {{feed.user.user_id}}-unfollow"
							  style="display: none" ng-click="unfollowUser(feed.user.user_id)">Unfollow</span>
					</div>
				</div>
				<div class="row">
					<div class="col col-20"></div>
					<div class="col col-80">
						<p ng-bind-html="feed.introduction" class="feed-introduction" ellipsis></p>
					</div>
				</div>
			</div>
			<img ng-src="{{feed.photoUrl}}" class="feed-img" ng-click="showImage(feed.photoUrl)">
			<div class="row upper-row1">
				<div class="col col-20 likenum">
					<i class="icon ion-heart"></i>
					<span>{{feed.numLikes || 0}} likes</span>
				</div>
				<div class="col col-40 likenum" ng-click="commentToggle(feed.blog_id)">
					<i class="icon ion-ios-chatbubble"></i>
					<span>{{feed.commentCount || 0}} comments</span>
				</div>
				<div class="col col-10 col-offset-20">
					<i class="like-btn icon ion-heart" id="{{feed.blog_id}}-likeFeed"
					   ng-click="likeThisFeed(feed.blog_id)"></i>
				</div>
				<div class="col col-10">
					<i class="comment-btn icon ion-ios-chatbubble"
					   ng-click="showPopup(feed.blog_id)"></i>
				</div>
			</div>
			<div id="{{feed.blog_id}}-commentsBlock" class="initiallyHidden">
				<div class="row padding-left" ng-repeat="comment in feed.commentsArr">
					<div class="col col-25">
						<span class="comment-name">{{comment.userName}}</span><br>
						<span class="comment-date">{{comment.created_time | date:'d MMM yy'}}</span>
					</div>
					<div class="col col-75">
						<p>{{comment.comment}}</p>
					</div>
				</div>
			</div>
		</div>
		<div ng-hide="moreMessagesScroll" class="feedend">You are at the end of the feed</div>
		<ion-infinite-scroll ng-if="moreMessagesScroll" immediate-check="false" on-infinite="loadMore()"
							 distance="1%"> </ion-infinite-scroll>
	</ion-content>
</ion-view>




<!--<ion-view class="fabFeed" cache-view="false">-->
	<!--<ion-header-bar align-title="center" class="bar-dark" title="NEAR ME">-->
		<!--<a class="button icon ion-ios-home button-clear" ng-click="goBack()"></a>-->
		<!--<h1 class="title">NEAR ME</h1>-->
	<!--</ion-header-bar>-->
	<!--<ion-floating-button click="createNew()" has-footer="false" button-color="#0DD1D1" icon="ion-camera" icon-color="#fff"></ion-floating-button>-->
	<!--<ion-content class="has-header">-->
		<!--<div class="row tab-row">-->
			<!--<a href="#/user/{{uid}}" class="col text-center"><img ng-src="img/fabbook-header/profile.png"/></a>-->
			<!--<a href="#/feed" class="col text-center center-tab"><img ng-src="img/fabbook-header/fabbook.png"/></a>-->
			<!--<a href="#/nearme/{{cityId}}" class="col active-tab text-center"><img ng-src="img/fabbook-header/Nearby_fill.png"/></a>-->
		<!--</div>-->
		<!--<ion-refresher pulling-text="Loading New Feed" on-refresh="doRefresh()"></ion-refresher>-->
		<!--<div class="feeds" ng-repeat="feed in blogArr | orderBy:'-created_time'">-->
			<!--<div class="upper-row">-->
				<!--<div class="row">-->
					<!--<div class="col col-20">-->
						<!--&lt;!&ndash; <canvas class="user_icon img-circle" id="{{feed.blog_id}}" width="40" height="40"></canvas> &ndash;&gt;-->
						<!--<img class="user_icon img-circle" id="{{feed.blog_id}}" ng-src="{{feed.profilePic || 'img/person.jpg'}}" width="40" height="40"/>-->
					<!--</div>-->
					<!--<div class="col col-55">-->
						<!--<p class="feed-name"><a href="#/user/{{feed.user.user_id}}">{{feed.user.user_name}}</a> | {{feed.created_time | date:'d MMM yy'}}</p>-->
						<!--<p class="feed-name"><i class="ion ion-location"></i> {{feed.city_name}}</p>-->
					<!--</div>-->
					<!--<div class="col col-25">-->
						<!--<span class="follow-btn {{feed.user.user_id}}-follow" ng-click="followUser(feed.user.user_id)">Follow</span>-->
            <!--<span class="unfollow-btn {{feed.user.user_id}}-unfollow" style="display: none" ng-click="unfollowUser(feed.user.user_id)">Unfollow</span>-->
          <!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
					<!--<div class="col col-20"></div>-->
					<!--<div class="col col-80">-->
						<!--&lt;!&ndash; <p class="feed-title">{{feed.title}}</p> &ndash;&gt;-->
						<!--<p ng-bind-html="feed.introduction" class="feed-introduction" ellipsis></p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<img ng-src="{{feed.photoUrl}}" class="feed-img" ng-click="showImage(feed.photoUrl)">-->
			<!--<div class="row upper-row1">-->
				<!--<div class="col col-30 likenum">-->
					<!--<i class="icon ion-heart"></i>-->
					<!--<span>{{feed.numLikes || 0}} likes</span>-->
				<!--</div>-->
				<!--<div class="col col-40 likenum" ng-click="commentToggle(feed.blog_id)">-->
					<!--<i class="icon ion-ios-chatbubble"></i>-->
					<!--{{feed.commentCount || 0}} comments-->
				<!--</div>-->
				<!--<div class="col col-10">-->
					<!--<i class="like-btn icon ion-heart" id="{{feed.blog_id}}-likeFeed" ng-click="likeThisFeed(feed.blog_id)"></i>-->
				<!--</div>-->
				<!--<div class="col col-10">-->
					<!--<i class="comment-btn icon ion-ios-chatbubble" ng-click="showPopup(feed.blog_id)"></i>-->
				<!--</div>-->
				<!--<div class="col col-10">-->
					<!--<i class="share-btn icon ion-android-share-alt" ng-click="otherShare()"></i>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div id="{{feed.blog_id}}-commentsBlock" class="initiallyHidden">-->
				<!--<div class="row padding-left" ng-repeat="comment in feed.commentsArr">-->
					<!--<div class="col col-25">-->
						<!--<span class="comment-name">{{comment.userName}}</span><br>-->
						<!--<span class="comment-date">{{comment.created_time | date:'d MMM yy'}}</span>-->
					<!--</div>-->
					<!--<div class="col col-75">-->
						<!--<p>{{comment.comment}}</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div ng-hide="moreMessagesScroll" class="feedend">You are at the end of the feed</div>-->
		<!--<ion-infinite-scroll ng-if="moreMessagesScroll" immediate-check="false" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>-->
	<!--</ion-content>-->
<!--</ion-view>-->
