<ion-view class="fabFeed">
	<ion-content>
		<ion-refresher pulling-text="Loading New Feed" on-refresh="doRefresh()"></ion-refresher>
		<div class="card feeds" ng-repeat="feed in blogArr | orderBy: '-created_time'">
	      <p class="feed-name"><a href="#/user/{{feed.user.user_id}}">{{feed.user.user_name}}</a></p>
	      <p class="feed-title">{{feed.title}}</p>
	      <img ng-src="{{feed.photoUrl}}" class="feed-img">
	      <div ng-bind-html="feed.introduction" class="feed-introduction"></div>
	      <div class="{{feed.user.user_name}}"></div>
	      <div class="likeFeed" ng-click="likeThisFeed(feed.blog_id)">
	         <i class="icon ion-heart" ng-class="liked? 'liked-heart': normal-heart"></i>
	         <span>{{feed.likes}}</span>
	      </div>
	   </div>
		<div ng-hide="moreMessagesScroll">You are at the end of the feed</div>
		<ion-infinite-scroll ng-if="moreMessagesScroll" immediate-check="false" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
	</ion-content>
</ion-view>
