<ion-view class="fabFeed" cache-view="false">
	<ion-header-bar class="bar-stable" title="Profile">
      <a class="button icon ion-chevron-left button-clear" ng-click="goBack()"></a>
      <h1 class="title">{{tagName}}</h1>
   </ion-header-bar>
   <ion-floating-button click="createNew()" has-footer="false" button-color="#0DD1D1" icon="ion-camera" icon-color="#fff"></ion-floating-button>
	<ion-content class="has-header">
		<ion-refresher pulling-text="Loading New Feed" on-refresh="doRefresh()"></ion-refresher>
		<div class="feeds" ng-repeat="feed in blogArr | orderBy:'-created_time'">
			<div class="upper-row">
				<div class="row">
					<div class="col col-20">
                  <img class="user_icon img-circle" id="{{feed.blog_id}}" ng-src="{{feed.profilePic || 'img/person.jpg'}}" width="40" height="40"/>
					</div>
					<div class="col col-55">
						<p class="feed-name"><a href="#/user/{{feed.user.user_id}}">{{feed.user.user_name}}</a> | {{feed.created_time | date:'d MMM yy'}}</p>
						<p class="feed-name"><i class="ion ion-location"></i> Gurgaon</p>
					</div>
					<!-- <div class="col col-25">
						<a href="#" class="follow-btn">Follow</a>
					</div> -->
				</div>
				<div class="row">
					<div class="col col-20"></div>
					<div class="col col-80">
						<p ng-bind-html="feed.introduction" class="feed-introduction"></p>
					</div>
				</div>
			</div>
			<img ng-src="{{feed.photoUrl}}" class="feed-img">
			<div class="row upper-row1">
				<div class="col col-60 likenum">
					<i class="icon ion-heart"></i>
					<span>{{feed.numLikes || 0}} likes</span>
				</div>
				<div class="col col-40">
					<i class="like-btn icon ion-heart" id="{{feed.blog_id}}-likeFeed" ng-click="likeThisFeed(feed.blog_id)"></i>
				</div>
			</div>
		</div>
		<div ng-hide="moreMessagesScroll" class="feedend">You are at the end of the feed</div>
		<ion-infinite-scroll ng-if="moreMessagesScroll" immediate-check="false" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
	</ion-content>
</ion-view>
