<ion-view class="vendorList">
    <ion-header-bar class="m-navColor">
        <a href="" class="button icon-left ion-chevron-left button-clear" ng-click="home()"></a>
        <h1 class="title">Favourites</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-hide="vendorList">
            <p class="text-center" style="margin-top: 60px;">
                No,vendor found for your favourite list!
            </p>
        </div>
        <div class="card m-5 fab_card" ng-show="packages.length !='0'" ng-repeat="vendor in vendorList">
            <div class="row" ng-click="vendor_menu(vendor.vendorId)">
                <div class="col-33 image_display_1" ng-click="vendor_menu(vendor.vendor_id)">
                    <img ng-src="{{vendor.image_url || 'img/vendorImage.jpeg'}}" class="pkg-img">
                </div>
                <div id="part2" class="col-67">
                    <div class="row" id="m_t">
                        <div class="col" style="margin-top: 20px;">
                            <p id="f_15">{{vendor.vendorName}}</p>
                            <p id="land_mark">{{vendor.vendorLandmark}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>