<ion-view class="searchservices">
    <div class="bar bar-header search-services-header" >
        <i style="color:white; padding-left: 5px; padding-right: 5px;"  class="icon ion-chevron-left pull-left back_arrow" ng-click="home()"></i>
    </div>
    <ion-content>
        <ion-list class="servicelist">
            <ion-item ng-repeat="item in location_list" class="vendorservicelist" ng-click="selected_city(item)">
                {{item.cityName}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>