<ion-view class="" cache-view="false">
    <ion-content>
        <h3 class="text-center">
            What are you interested in?
        </h3>
        <h5 class="text-center">Please fill any 5 interests to get better feeds.</h5>
       <ion-list>
           <ion-item ng-repeat="option in options" ng-click="selectItems(option)">
               name:{{option.name}}
               <img src="img/home/new-slider/square-blue.png" style="height: 25px;width: 25px;"
                     ng-show="selectedInterests[option.name]">
           </ion-item>
       </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="saveInterest()">
        <div class="title">Save</div>
    </div>
</ion-view>