<ion-view class = "bookings">
      <ion-header-bar class="bar-dark">
      <button class = "button button-clear icon ion-chevron-left" ng-click="go_home()"></button>
        <h1 class="title">MY BOOKINGS</h1>
      <button class = "button button-clear icon ion-ios-list-outline"></button>
      </ion-header-bar>
      
      <ion-content>

        <div ng-repeat = "booking in Bookings">
          <div class="main-cont">
            <div class="first-cont"></div>
            <div class="second-cont">
                 <div id = "salon">{{booking.salonName}} </div>
                <div id ="landmark" >{{bookingAddress.landmark}}</div>
                <div id = "booking" >Booking ID {{booking.bookingId}}</div>
                <div id = "amount" >Amount Payable {{booking.finalAmount}}</div>
                <div id ="date" ><b><i class = "icon ion-calendar" id = "calendar"></i></b><br>{{booking.appointmentDate}}</div>
                <div id="time"  ><b><i class = "icon ion-clock" id = "clock" ></i></b><br>{{booking.appointmentTime}}</div>
            </div>
          </div>
          <div class = "button-bar myButtonsDiv">
              <!-- <button class = "button button-positive">CANCEL</button> -->
              <button class = "button" id="cancel" ng-click="bookingCancel(booking.bookingId)">CANCEL</button>
              <button class = "button" id="details" >VIEW DETAILS</button>
          </div>
        </div>
 
      </ion-content>
</ion-view>