<ion-view id="mywallet"> 
  <ion-header-bar class="bar-positive "  align-title="center" title="CART" id="customheader">
        <a class="button icon-left ion-chevron-left button-clear "></a>
        <h1 class="title">MY WALLET</h1>
       
    </ion-header-bar>
    <ion-content >
        <div id="walletdetails">
            <center>
                <img class="image" src="img/wallet.png" width="30%" height="30%">
            </center>
            <div >
                <div id="walletbalance">
                    <h5 id="wallettext" >
                        <center class="ion-card">&nbsp;&nbsp;WALLET BALANCE:
                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <del>&#2352;</del>
                            </strong> 10000 
                        </center>
                    </h5>
                </div>
                <div id="wallethistory">
                    <h5 id="textpadding">
                        <center>WALLET HISTORY</center>
                    </h5>
                </div>
                <div id="tablediv">
                    <table  id="tablewidth1">
                        <tr>
                            <td   id="table-item">BOOKING</td>
                            <td>USED</td>
                        </tr>
                    </table>
                    <ion-scroll  direction="y"  has-bouncing="false" scrollbar-y="false" id="tablebox">
                        <table id="tablewidth2">
                            <tr ng-repeat="item in wallet">
                                   <td  id="table-item">{{item.Name}} 
                                     {{item.Fabtu_Price}}
                                </td>
                                <td>Bill Gates</td>
                            </tr>
                        </table>
                    </ion-scroll>
                </div>
            </div>
            <div>
                <center>
                    <h4 id="pinkcolor">Refer Money ! Earn More</h4>
                </center>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar " align-title="center" id="customfooter" >
            <h1 class="title" id ="refercolor">REFER A FRIEND</h1>
    </ion-footer-bar>
</ion-view>