
body{color: #333 ! important;} 
.ft24 {
    font-size: 24px !important;
} 
.ft25 {
    font-size: 25px !important;
}
.nofix {
    position: relative;
    top: 0;
}
.mgt1{margin-top: 10px;}
.bg-fa {
    background-color: #fafafa;
}

.col-15 {
    max-width: 15% !important;
}
.ft-b{font-size: 24px ! important;}
.color7 {
    color: #777;
}

.fd-img {
    float: left;
    text-align: left;
    width: 60px;
    display: block;
    padding: 5px 0px 0 15px;
}

.fd-img img {
    float: left;
    width: 40px;
    height: 40px;
}
.text-left{text-align: left !important;} .text-right{text-align: right !important;}
.pdl5 {
    padding-left: 5px !important
}
.pdl10 {
    padding-left: 10px !important
}.mg-5{margin-right: 5px;}
.pdrt10{padding-right: 10px ! important;}
.alinkfix {
    width: 40px !important;
    padding-left: 10px !important;
    color: #757575;
    margin-right: 10%;
    font-size: 32px !important;
    display: inline-block !important;
}
.alinkfix-right{    width: 77px !important;
    padding-right: 10px !important; 
    color: #757575;
    float: right !important;
    font-size: 32px !important;
    display: block !important;
    text-align: right !important;}
    .mgtn2{margin-top: -15px ! important;}
    .pdtnone{padding-top: 0px ! important;}
    .mgn{margin-top:-2px ! important; }
 .t-active{color: #f68589 ! important;}
 .col-30{max-width: 30% !important;}
 .col-60{max-width: 60% !important}
.p-name {
    font-size: 16px;
    text-transform: capitalize;
    color: #777;
}
.editcs{border-radius: 50%; border:solid 1px #999; margin-top: 48px; width: 40px; height: 40px; float:
 right;display: block; font-size: 15px; color: #999; text-align: center; line-height: 38px;}