<ion-view id="cartview">
    <ion-header-bar class="bar-positive " title="CART" id="customheader">
        <a class="button icon-left ion-chevron-left button-clear " ng-click="backButton()"></a>
        <h1 class="title">CART</h1>
        <div class="buttons buttons-right header-item">
            <a class="button button-icon ion-android-cart">
                <span class="badge badge_color" id="cartbadge">{{cart_item}}</span>
            </a>
            <a class="button button-icon icon ion-edit " ng-click="edit_cart()"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="data in cartItems">
                <span id="cartdetails">
        {{data.menuItemName}}
        </span>
                <span id="cartoriginal">
                    <strike>
                        <span class="striked-text">
                            <strong>
                                <del>&#2352;</del>
                            </strong>{{data.vendorPrice}}&nbsp;
                        </span>
                        <span class="line-arrow right"></span>
                    </strike>
                </span>
                <span id="fab2uPrice">
                    <strong>
                        <del>&#2352;</del>
                    </strong>{{data.customerPrice}}
                </span>
                <div class="diagonal" ng-click="list_changed(data.serviceId,data.menuItemName)">
                    <span id="cancelcartitem">
                        <a class="button button-icon ion-ios-close-outline" id="closeiconcolor"></a>
                    </span>
                </div>
            </li>
        </ul>
        <div class="button button-full button-positive" id="totalcart">
            <span id="cartdetails">
                <p>Total </p>
            </span>
            <strike id="totalfab2u">
                <span class="striked-text" id="striketextcolor" >
                    <strong>
                        <del>&#2352;</del>
                    </strong>{{total_original}}&nbsp;
                </span>
                <span class="line-arrow right"></span>
            </strike>
            <span id="carttotalprice">
                <strong>
                    <del>&#2352;</del>
                </strong>{{total_customer}}
            </span>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-stable" id="customfooter" ng-click="select_time()">
        <center>
            <h1 id="striketextcolor" class="button_title">SELECT DATE AND TIME</h1>
        </center>
    </ion-footer-bar>
</ion-view>