.fabFeed .feeds{
	padding:10px;
}

.fabFeed a{
	text-decoration: none;
}

.fabFeed .follow-btn{
	border: 1px solid #FF8386;
	border-radius: 5px;
	color: #FF8386;
	padding: 1px 10px;
}

.fabFeed .feed-name {
	font-size:1.2em;
	font-weight:500;
}
.fabFeed .feed-title {
	font-size:1.1em;
	font-weight:400;
}

.fabFeed .feed-img {
	width:100%;
	height:auto;
	border-radius:5px;
}

.fabFeed .feed-introduction {
	font-size:1em;
	font-weight:400;
}
.fabFeed .likeFeed {
	margin:10px;
	font-size:1em;
}

.fabFeed .likeFeed i{
	font-size:1em;
	margin:10px;
}

.fabFeed i.like-btn.ion-heart {
  font-size: 30px;
}

.fabFeed .likenum{
	color: #FF8386;
	line-height: 41px;
}

.fabFeed .feedend{
	color: #FF8386;
	text-align: center;
}

.fabFeed .user_icon {
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	border: 3px solid #FF8285;
	float:left;
	margin-right:10px;
}
