.fabFeed .upper-row{
	padding: 10px 10px 0px 10px;
}
.fabFeed .upper-row1{
	padding: 0px 10px;
}

.fabFeed .center{
	text-align: center;
}

.fabFeed .profile-pic{
	border: 4px solid #FF8386;
	border-radius: 50%;
}

.fabFeed .user-info{
	margin-top: 10px;
}

.fabFeed .user-name{
	margin-top: 5px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.fabFeed a{
	text-decoration: none;
}

.fabFeed .follow-btn{
	border: 1px solid #FF8386;
	border-radius: 5px;
	color: #FF8386;
	padding: 1px 10px;
}

.fabFeed .feed-name a{
	font-weight:500;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.fabFeed .feed-name{
	/*font-size: 1em;*/
	margin: 0px;
}

.fabFeed .feed-title {
	font-size:1.1em;
	font-weight:400;
}

.fabFeed .feed-img {
	width:100%;
	height:auto;
}

.fabFeed .feed-introduction {
	font-size:1em;
	font-weight:400;
}
.fabFeed .likeFeed {
	margin:10px;
	font-size:1em;
}

.fabFeed .likeFeed i{
	font-size:1em;
	margin:10px;
}

.fabFeed i.like-btn.ion-heart {
  font-size: 25px;
  /*color: #FF8386;*/
}

.fabFeed .likenum{
	color: #FF8386;
	/*line-height: 41px;*/
}

.fabFeed .feedend{
	color: #FF8386;
	text-align: center;
}

.fabFeed .user_icon {
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	border: 3px solid #FF8285;
	float:left;
	margin-right:10px;
}
